extends ./layouts/default

block title
    title koa首页

block content
    include ./includes/header
    .container-fluid
        .col-12.col-md-3
        
        .sidebar
        .content
            .row
                .col-md-6
                    .car
                        img.card-img-top(src="" data-video='')
                        .card-body
                            h4.card-title 电影标题
                            p.card-desc 电影表述
                        .card-footer
                            small.text-muted 1天前更新
                .col-md-6
                    .car
                        img.card-img-top(src="" data-video='')
                        .card-body
                            h4.card-title 电影标题
                            p.card-desc 电影表述
                        .card-footer
                            small.text-muted 1天前更新
            .row
                .col-md-6
                    .car
                        img.card-img-top(src="" data-video='')
                        .card-body
                            h4.card-title 电影标题
                            p.card-desc 电影表述
                        .card-footer
                            small.text-muted 1天前更新
                .col-md-6
                    .car
                        img.card-img-top(src="" data-video='')
                        .card-body
                            h4.card-title 电影标题
                            p.card-desc 电影表述
                        .card-footer
                            small.text-muted 1天前更新
        
        